@import url("https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&family=DM+Serif+Text:ital@0;1&family=Outfit:wght@100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900https://fonts.googleapis.com/css2?family=Montez&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montez&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
/**********************************************************************************************/
/************************************ BASE #999111 ******************************************/
/**********************************************************************************************/

:root {
  /* --color-primary: #ff0063; */
  --color-primary: #aa3599;
  --color-primary--1: lch(27.16% 30 21.21);
  --color-primary--2: #977171; /*Text Color*/
  --color-primary--3: #707070;

  /* --color-secondary: #66bfbf; */
  --color-secondary: #c9eded; /*Tmembers Color*/
  --color-secondary--2: #77d1d1; /*home-deco-elipse*/

  /* --color-tertiary: #eaf6f6; */

  --color-black: #000000; /*text color*/
  --color-black--1: #4e0e0e;
  --color-white: #ffff;

  ---small-container-width: 96rem;

  --section-padding: 6rem;
  --big-container-width: 100%;
  --big-container-width: 120rem;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;

  backface-visibility: hidden;
}

*::-webkit-scrollbar {
  display: none;
}

*::selection {
  background: var(--color-secondary--2);
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  font-family: "Montserrat", sans-serif;
  font-family: 500;
}

/* #007999 largest at 1200px #007999 */
@media screen and (max-width: 75em) {
  html {
    font-size: 56%;
  }
}

/* #88dddd smaller at 500 #88dddd */
/* @media screen and (max-width: 31.25em) {
  html {
    font-size: 49%;
  }
} */

body {
  box-sizing: border-box;
  overflow-x: hidden;
  color: black;
}

.header {
  /* height: 100vh; */
  width: 100%;
  min-height: 50rem;
  position: relative;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  padding-top: 2rem;
  background-color: var(--color-primary--1);
  background-image: linear-gradient(to bottom right, #9771712a, #77d1d170);

  overflow: hidden;
}

/* #00eba9 duo at height 650  #00eba9 */
@media screen and (min-height: 40.625em) {
  .header {
    /* height: 70vh; */
  }
}

img::selection {
  background: transparent;
}

/**********************************************************************************************/
/****************************************** BASE END ***********************************/
/**********************************************************************************************/

/**********************************************************************************************/
/************************************ TYPOGRAPHY #990111 ******************************************/
/**********************************************************************************************/

.sm--texts {
  font-size: 1.3rem;
}

.md--texts {
  font-size: 1.7rem;
  color: #00000097;
}

.bg--texts {
  font-size: 2rem;
  font-size: 16px;
}

.section__headers {
  /* font-family: "Montez", monospace; */
  font-size: max(2.5vw, 30px);
  font-weight: 700;
  line-height: 1.2;
  text-transform: uppercase;
  margin-bottom: 3rem;
  -webkit-background-clip: text;
  color: transparent;
  background-image: linear-gradient(to bottom right, #c221aa, #803737);
  border-image: var(--color-black);
}

/* #88ffdd smaller at 400 #88ffdd */
@media screen and (max-width: 25em) {
  .section__headers {
    margin-bottom: 1.5rem;
  }
}

.btn {
  color: var(--color-black);
  background-color: var(--color-secondary--2);
  text-decoration: none;
  display: inline-block;
  padding: 1rem 2rem;
  font-weight: 700;
  transition: all 0.3s ease;
  /* font-size: 1.4rem; */
  z-index: 9;
  border-radius: 4px;
  background-image: linear-gradient(to bottom right, #32e2e2be, #e1dfdf);
  transition: backgroundImage 0.37s ease;
}

.btn:hover {
  background-image: linear-gradient(to bottom right, #e1dfdf, #32e2e2be);
}

/**********************************************************************************************/
/****************************************** TYPOGRAPHY END ***********************************/
/**********************************************************************************************/

/**********************************************************************************************/
/************************************NAVIGATION #83a5c8 ******************************************/
/**********************************************************************************************/
.hamburger {
  width: 2rem;
  height: 2rem;
  transition: all 0.2s;
  cursor: pointer;
  z-index: 9;
  position: fixed;
  display: none;
}

.hamburger-stripe {
  height: 0.4rem;
  width: 100%;
  background-color: var(--color-white);
  color: rgba(0, 0, 0, 0);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.3s ease;
}

.hamburger-stripe:before,
.hamburger-stripe::after {
  content: "";
  height: inherit;
  width: inherit;
  background-color: currentColor;
  position: inherit;
  top: -0.7rem;
  background-color: inherit;
  transition: inherit;
}

.hamburger-stripe:before {
  top: 0.7rem;
  background: #fff;
}

.ham-strp {
  transform: translate(-50%, -50%) rotate(-45deg);
}

.ham-strp:before,
.ham-strp::after {
  top: 0;
  transform: rotate(90deg);
}

.hamburger:hover .ham-hover-anim:before {
  top: 0.9rem;
}

.hamburger:hover .ham-hover-anim::after {
  top: -0.9rem;
}

.nav {
  display: flex;
  max-width: var(--big-container-width);
  margin: auto;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 4rem;
  height: 10%;
  color: #fff;
}

.logo {
  z-index: 6;
  font-size: 1.8rem;
  font-family: "Montez";
}

.nav__lists {
  z-index: 9;
  display: flex;
  margin-left: auto;
  list-style: none;
}

.clone__nav__lists {
  display: none;
}

.nav__links {
  display: inline-block;
  text-decoration: none;
  padding: 0 0.3rem;
  font-size: 80%;
  font-weight: 700;
  margin: 0 1rem;
  -webkit-background-clip: text;
  color: transparent;
  background-image: linear-gradient(to bottom right, #32e2e2be, #fff);
  transition: all 0.5s;
  display: block;
}

/* const cloneNavlist = navLists.cloneNode(true)
console.log(cloneNavlist); */

.nav__lists:hover .nav__links:not(:hover) {
  opacity: 0.6;
}

.nav__btn {
  margin-left: 1.5rem;
  z-index: 6;
  font-weight: 600;
}

/* #885446 medium at 800 #885446 */
@media screen and (max-width: 50em) {
  .nav__logo {
    margin-left: 4rem;
  }

  .nav__lists {
    display: none;
  }

  .clone__nav__lists {
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%) scale(0);
    text-transform: uppercase;
    font-size: 4rem;
    text-align: center;
    position: fixed;
    transition: all 0.3s 0.1s;
  }

  .nav__list {
    margin: 5vh 0;
  }

  .hamburger {
    display: block;
  }

  .hamburger::before {
    content: "";
    background: var(--color-primary--2);
    width: 150%;
    height: 150%;
    position: absolute;
    top: -25%;
    left: -25%;
    border-radius: 0.3rem;
  }

  .hamburger-menu {
    position: fixed;
    top: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(to bottom right, #977171 30%, #f1caca);
    z-index: 9;
    transition: all 0.3s ease-out;
    clip-path: circle(0%);
  }
}

/**********************************************************************************************/
/****************************************** NAVIGATION END ***********************************/
/**********************************************************************************************/

/**********************************************************************************************/
/************************************ HERO #F4CB46 ******************************************/
/**********************************************************************************************/
.hero {
  max-width: var(--big-container-width);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5vw 4rem 9vw;
  margin: auto;
  position: relative;
}

.hero * {
  z-index: 1;
}

.hero__markup {
  max-width: 600px;
  min-width: 400px;
}

.hero__lg--text {
  font-size: max(8rem, 40px);
  line-height: 1;
  font-weight: 500;
  color: var(--color-secondary--2);
  margin-bottom: 1.7rem;

  font-family: "Playfair display", serif;
  -webkit-background-clip: text;
  color: transparent;
  background-image: linear-gradient(to bottom left, #fff, #32e2e2be);
}

.hero__sm--text {
  color: var(--color-white);
  margin: 2rem 0 3rem;
  /* font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif; */
  letter-spacing: 0.1rem;
  max-width: 40rem;
}

.hero__btn {
  font-size: 1.4rem;
  padding: 1.3rem 2.8rem;
  font-weight: 600;
}

.hero__media-display {
  display: none;
}

.hero__deco-svg {
  display: none;
}

.hero__bg {
  height: 40rem;
  width: 60rem;
  position: relative;
}

.hero__bg-shoe {
  height: 100%;
  width: 100%;
}

.hero__bg:before {
  position: absolute;
  content: "";
  width: 40rem;
  height: 40rem;
  width: 66%;
  height: 100%;
  top: 0rem;
  right: 14rem;
  border-radius: 50%;
  background-image: linear-gradient(to top right, #32e2e2be, #fff);
  z-index: -9;
}

/* #885446 medium at 800 #885446 */
@media screen and (max-width: 50em) {
  .hero {
    flex-direction: column;
    gap: 30px;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  .hero__lg--text {
    /* margin-top: 5rem; */
  }

  .hero__img {
    margin-left: 55px;
  }

  .hero__bg-shoe {
    height: 80%;
    width: 80%;
  }

  .hero__sm--text {
    margin: 2rem auto 3rem;
  }

  .hero__btn {
    margin-bottom: 3rem;
  }

  .hero__bg:before {
    right: 18rem;
    width: 50%;
    height: 30rem;
  }
}

/* #8deba9 duo at 700 x 400  #8deba9 */
@media screen and (max-width: 43.75em) and (min-height: 25em) {
  .hero__lg--text {
    font-size: max(10vw, 30px);
  }

  .hero__sm--text {
    margin: 1rem auto 3rem;
    letter-spacing: 0.1rem;
  }
}

/**********************************************************************************************/
/****************************************** HERO END ***********************************/
/**********************************************************************************************/

/**********************************************************************************************/
/************************************ ARCHIVE #E6C4C3 ******************************************/
/**********************************************************************************************/

.section--1 {
  /* padding: var(--section-padding); */
  max-width: var(---small-container-width);
  margin: auto;
}

.section--1__soft-archives {
  padding: 3rem 1.5rem;
  border-radius: 1rem;
  display: flex;
  gap: max(10vw, .5rem);
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: center;
  justify-items: center;
}

.soft-archives--list {
  display: flex;
  flex-shrink: 0;
  flex-wrap: 0;
  flex-basis: auto;
  flex-direction: column;
  text-align: center;
}

.soft-archives__desc {
  font-weight: 500;
}

.soft-archives__digits {
  font-size: 3.5rem;
  font-weight: 600;
  color: var(--color-primary);
  margin-top: 2rem;
  font-family: monospace;
}

/**********************************************************************************************/
/****************************************** ARCHIVE END ***********************************/
/**********************************************************************************************/

/**********************************************************************************************/
/************************************ ABOUT #F9D390  ******************************************/
/**********************************************************************************************/

.section--2 {
  height: auto;
  max-width: var(--big-container-width);
  padding: var(--section-padding) 4rem;
  margin: auto;
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: space-between;
  gap: 10px;
  align-items: center;
  position: relative;
}

.section--2__left {
  flex: 1;
  flex-basis: 100px;
}

.section--2__right {
  flex-basis: 120px;
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.about-img__background {
  background-image: linear-gradient(to bottom right, #977171, #77d1d1);
  border-radius: 8px;
  width: max(25vw, 250px);
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.about-img-container {
  width: max(20vw, 250px);
  position: relative;
}

.section--2__img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: bottom;
}

.section--2__author {
  position: relative;
  margin-top: 2rem;
  width: fit-content;
  background-color: var(--color-secondary);
  padding: 1rem 2rem;
  border-radius: 4px;
}

.section--2__author::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 5px;
  height: 100%;
  background-color: var(--color-primary--2);
}

.author__text {
  font-weight: 500;
  color: var(--color-black--1);
}

@media screen and (max-width: 39em) {
  .section--2__right {
    flex-basis: 120px;
    justify-content: flex-start;
  }

  .about-img__background {
    width: max(50vw, 25rem);
  }
}

/**********************************************************************************************/
/****************************************** ABOUT END ***********************************/
/**********************************************************************************************/

/**********************************************************************************************/
/************************************ ASSURANCE #FBE67EFE ******************************************/
/**********************************************************************************************/

.section--3 {
  position: relative;
  height: auto;
  max-width: var(--big-container-width);
  padding: 4rem var(--section-padding) 0;
  margin: auto;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.section--3__left {
  flex: 1;
  flex-basis: 200px;
}

.section--3__decoAvatar {
  width: max(35vw, 300px);
  margin-top: -50px;
  margin-left: -40px;
}

.section--3__deco-bg__img {
  height: 100%;
  width: 100%;
}

.section--3__right {
  flex: 1;
  flex-basis: 200px;
}

@media screen and (max-width: 39em) {
  .section--3__decoAvatar {
    width: max(70vw, 300px);
  }
}

/**********************************************************************************************/
/****************************************** ASSURANCE END ***********************************/
/**********************************************************************************************/

/**********************************************************************************************/
/************************************ EXPLORE-SHOE #FF8DAF ******************************************/
/**********************************************************************************************/

.section--4 {
  text-align: center;
  padding: var(--section-padding) 4rem;
  max-width: var(--big-container-width);
  margin: auto;
}

.section--4__header {
  font-weight: 500;
  font-size: 3.5rem;
  text-transform: initial;
  letter-spacing: 0;
  margin-bottom: 20px;
  margin-top: 50px;
}

.section--4__texts {
  line-height: 2.4rem;
  max-width: 80%;
  margin: 4rem auto;
}

.section--4__imgs {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(38rem, 1fr));
  justify-content: center;
  position: relative;
  /* max-width: 140rem; */
  margin: auto;
}

.section--4__img-wrapper {
  height: 48rem;
  /* background-color: var(--color-secondary); */
  background-image: linear-gradient(
    to bottom left,
    var(--color-secondary) 20%,
    var(--color-primary--3)
  );
  /* background-image: linear-gradient(to top right, #fff, #32e2e2be); */
  display: flex;
  justify-content: center;
  align-items: center;
  justify-self: stretch;
  margin: 1rem;
  position: relative;
  overflow: hidden;
}
.section--4__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* filter: drop-shadow(1rem 0.6rem 0.3rem rgba(0, 0, 0, 0.771)); */
}

.section--4__img__1 {
  transform: skewX(180);
}

.section--4__img__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.297);
  transform: translateY(40%);
  transition: all 0.8s ease;
  opacity: 0;
  filter: blur(20px);
}

.section--4__img-wrapper:hover .section--4__img__overlay {
  transform: translateY(0%);
  opacity: 1;
  filter: blur(0);
}

.section--4__img__overlay__bg--text {
  font-size: 2.5rem;
  max-width: 80%;
  font-weight: 700;
  letter-spacing: 0.3rem;
  margin-bottom: 1.2rem;
  -webkit-background-clip: text;
  color: transparent;
  background-image: linear-gradient(to bottom right, #fff, #32e2e2be);
}

.section--4__img__overlay__sm--text {
  margin-bottom: 2rem;
  color: var(--color-white);

  font-size: 1.5rem;
  letter-spacing: 0.1rem;
  max-width: 80%;
}

.section--4__img__overlay-btn {
  font-size: 1.4rem;
  font-weight: 600;
}

/* #889954 small at 600 #889954 */
@media screen and (max-width: 37.5em) {
  .section--4__imgs {
    grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
  }

  .section--4__img__overlay {
    opacity: 1;
    transform: translateY(0%);
    filter: blur(0);
    background-color: rgba(0, 0, 0, 0.171);
  }
}

/* #8deba9 duo at 700 x 400  #8deba9 */
@media screen and (max-width: 43.75em) and (max-height: 25em) {
  .section--4__img__overlay {
    opacity: 1;
    transform: translateY(0%);
    filter: blur(0);
    background-color: rgba(0, 0, 0, 0.171);
  }
}

/* #8aaaa9 duo at 1050 x 600  #8aaaa9 */
@media screen and (max-width: 65.625em) and (max-height: 37.5em) {
  .section--4__img__overlay {
    opacity: 1;
    transform: translateY(0%);
    filter: blur(0);
    background-color: rgba(0, 0, 0, 0.171);
  }
}

/**********************************************************************************************/
/****************************************** EXPLORE-SHOE END ***********************************/
/**********************************************************************************************/

/**********************************************************************************************/
/************************************ OUR OFFER #FF65FE ******************************************/
/**********************************************************************************************/

.section--5 {
  max-width: var(---small-container-width);
  margin: 0 auto;
  padding: var(--section-padding) 4rem;
}

.section--5__header {
  text-align: center;
  margin-bottom: 7rem;
}

.section--5__grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  grid-gap: 3rem;
}

.section--5__boxes {
  display: grid;
  justify-content: center;
  column-gap: 1rem;
  row-gap: 2rem;
}

.section--5__icons {
  grid-row: 1;
  height: 0;
}

.offer__svg {
  width: 40px;
  height: 40px;
  fill: #000000;
  fill: var(--color-secondary--2);

  transform: translateY(-13px) scale(1);
}

/* #88dddd smaller at 600 #88dddd */
@media screen and (max-width: 37.5em) {
  .offer__svg {
    transform: translateY(-13px) scale(0.8);
  }
}

.section--5__boxes__headers {
  grid-row: 2/1;
  font-weight: 500;
}

.section--5__texts {
  max-width: 24rem;
  grid-row: 2;
  grid-column: 2;
}

/* #88dddd smaller at 500 #88dddd */
@media screen and (max-width: 31.25em) {
  .section--5__grid {
    grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
  }

  .section--5__boxes {
    justify-items: center;
    text-align: center;
  }

  .section--5__icons {
    grid-row: 1;
    background-color: #53bebe;
  }

  .offer__svg {
    transform: translate(15%, -13px) scale(0.8);
  }

  .section--5__boxes__headers {
    grid-row: 2;
    margin-top: 2.5rem;
  }

  .section--5__texts {
    grid-row: 3;
    grid-column: 1;
  }
}

/**********************************************************************************************/
/****************************************** OUR OFFER END ***********************************/
/**********************************************************************************************/

/**********************************************************************************************/
/************************************ TEAM #F88951 ******************************************/
/**********************************************************************************************/

.section--6 {
  background-image: linear-gradient(to bottom right, #9febeb, #32e2e2);
}

.section--6__container {
  max-width: 100%;
  margin: 0 auto;
  padding: var(--section-padding) 0;
  max-width: var(--big-container-width);
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow: hidden;
  z-index: 1;
}

.section--6__header {
  margin-bottom: 6rem;
}

.figure__container {
  position: relative;
  width: fit-content;
  height: 40rem;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section--6__figures {
  margin: auto;
  display: flex;
  width: 63rem;
  width: 83rem;

  overflow: hidden;
  position: relative;
}

.section--6__figure {
  /* height: 53rem; */
  flex: 0 0 27.6667rem;
  display: flex;
  opacity: 0.5;
  flex-direction: column;
  align-items: center;
  position: relative;
  transition: all 0.6s ease;

  transform: translateX(27.6667rem) scale(0.8);
}

.section--6__main {
  /* height: 55rem; */
  opacity: 1;
  transform: translateX(27.6667rem) scale(0.8);
}

.section--6__figure--1 {
  transform: translateX(27.6667rem) scale(1);
}

.section--6__figure--2 {
  transform: translateX(27.6667rem)
    matrix3d(1, 0, 0, 0.0006, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1) scale(0.8);
}

.section--6__img-wrap {
  border-radius: 1rem;
  background-image: linear-gradient(
    to top right,
    rgb(255, 255, 255),
    #b2dbdba8
  );
  margin-bottom: 2rem;
  position: relative;
  width: 25rem;
  height: 100%;
}

.section--6__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 1rem;
}

.section--6__name {
  font-size: 1.5rem;
  font-weight: 700;
}
.section--6__office {
  font-size: 1.2rem;
  font-weight: 500;
}

.section--6__media {
  height: 4rem;
  width: 95%;
  /* visibility: hidden; */
  position: absolute;
  bottom: 0.5rem;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 0.5rem;
  background-color: #77d1d1;
  backdrop-filter: blur(2px);
  display: flex;
  align-items: center;
  justify-content: space-around;
  transition: all 0.3s ease;
  padding: 0.5rem;
}

.section--6__media__iconlinks {
  text-decoration: none;
}

.section--6__media__iconlinks:last-of-type .section--6__media__svg {
}

.section--6__media__svg {
  width: 3rem;
  fill: var(--color-black);
  transition: all 0.2s ease;
}

.section--6__media__svg:hover {
  fill: rgba(255, 255, 255, 0.678);
}

.arr {
  padding: 1rem 1.2rem 1.3rem;
  position: absolute;
  border-radius: 50%;
  color: var(--color-black--1);
  font-size: 2.5rem;
  justify-self: center;
  align-self: center;
  cursor: pointer;
  transition: all 1s ease;
}

.arr::before {
  content: "";
  position: absolute;
  top: 0.5rem;
  left: -0.3rem;
  background: var(--color-secondary);
  width: 5rem;
  height: 90%;
  height: 5rem;
  border-radius: 50%;
  z-index: -1;

  top: 50%;
  right: -50%;
  transform: translate(0%, -50%);
}

.arr::selection {
  background-color: transparent;
}

.arrow-left {
  left: -6vw;
}

.arrow-right {
  right: -6vw;
}

.dots {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2rem 0 0;
}

.dot {
  width: 0.8rem;
  height: 0.8rem;
  background-color: #00000041;
  border-radius: 50%;
  margin: 1rem;
  cursor: pointer;
  transition: all 0.5s ease;
}

.dot--active {
  background-color: rgba(0, 0, 0, 0.637);
}

/* #885446 medium at 800 #885446 */
@media screen and (max-width: 50em) {
  .arr {
    display: none;
  }

  .dot {
    width: 1.5rem;
    height: 1.5rem;
  }
}

/**********************************************************************************************/
/****************************************** TEAM END ***********************************/
/**********************************************************************************************/

/**********************************************************************************************/
/************************************ CUSTOMERS #FFB ******************************************/
/**********************************************************************************************/

.section--7 {
  position: relative;
}

.section--7__container {
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: var(--section-padding) var(--section-padding) 16rem;
  max-width: var(--big-container-width);
  overflow: hidden;
}

.section--7__customers-field {
  display: flex;
  gap: 2rem;
  max-width: 89.5rem;
  width: max(89.5rem, 85vw);
  overflow: scroll;
  margin-bottom: 2rem;
  align-items: center;
  scroll-snap-type: x mandatory;
}

.section--7__customers-field::-webkit-scrollbar {
  display: none;
}

.section--7__header {
  color: var(--color-secondary);
  margin-bottom: 6rem;
}

.section--7__emoji {
  font-size: 5rem;
  transform: translateY(1rem);
  display: inline-block;
}

.customer__boxes {
  min-width: 28rem;
  /* height: 35rem; */
  background-color: var(--color-secondary);
  padding: 1.5rem 2.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  transition: all 0.3s ease;
  line-height: 1.7rem;
  box-shadow: 0rem 0rem 1.5rem rgba(0, 0, 0, 0.37);
  border-radius: 8px;
  scroll-snap-align: center;
  color: black;
}

.customer__boxes::-webkit-scrollbar {
  display: none;
}

.customer__img-wrapper {
  width: 7rem;
  height: 7rem;
  border-radius: 50%;
  position: relative;
  margin-bottom: 2.3rem;
}

.customer__img {
  width: 100%;
  border-radius: 50%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.customer__quote-deco {
  position: absolute;
  right: -8%;
  border-radius: 50%;
  bottom: -10%;
  height: 3rem;
  width: 3rem;
}

.customer__quote-deco__img {
  height: 100%;
  width: 100%;
}

.custumer__text {
  margin-bottom: 2rem;
  overflow: scroll;
  opacity: 0.6;
}

.customer__name {
  padding: 1rem 0rem 0;
  border-top: 0.2rem solid rgba(0, 0, 0, 0.507);
  font-weight: 700;
  font-size: 1.3rem;
  color: var(--color-primary--3);
  opacity: 0.8;
}

.customer__job {
  color: var(--color-secondary--2);
  color: var(--color-primary--2);
  font-size: 1rem;
  font-weight: 500;
}

.reviews__container {
  position: relative;
  display: flex;
}

.bg-video {
  width: 100%;
  height: 150%;
  height: 60rem;
  position: absolute;
  background-color: #1cbebe;
  z-index: -99;
}

.customers__video {
  height: 145%;
  width: 100%;
  object-fit: cover;
  transform: translateY(-11rem);
}

.bg-video::before {
  content: "";
  position: absolute;
  z-index: 9;
  top: -11rem;
  left: 0;
  height: 145%;
  width: 100%;
  background-color: #0000008a;
}

@media screen and (max-width: 60em) {
  .reviews__container .arrow-left,
  .reviews__container .arrow-right {
    display: block;
    position: absolute;
    left: auto;
    bottom: -8rem;
    right: 0;
  }

  .reviews__container .arrow-left {
    right: 8rem;
  }

  .section--7__customers-field {
    max-width: 85vw;
  }
}

/* #885446 medium at 800 #885446 */
@media screen and (max-width: 50em) {
  .section--7__customers-field::before,
  .section--7__customers-field::after {
    content: "";
    height: 95.7%;
    width: 2rem;
    position: absolute;
    left: -2.1rem;
    top: 0;
    background: transparent;
    z-index: 3;
    clip-path: polygon(0 0, 300% 0%, 300% 100%, 0 100%, 0 0);
  }

  .section--7__customers-field::after {
    left: calc(100% + 0rem);
    /* box-shadow: -2rem 0 2rem rgba(0, 0, 0, 0.404); */
    clip-path: polygon(0 0, 100% 0%, 100% 100%, -200% 100%, -200% 0);
  }
}

/* #889954 small at 600 #889954 */
@media screen and (max-width: 37.5em) {
  .reviews__container .arr {
  }
}

/* #88ffdd smaller at 400 #88ffdd */
@media screen and (max-width: 25em) {
  .customer__boxes {
    transform: translateX(50%);
  }
}
/**********************************************************************************************/
/****************************************** CUSTOMERS END ***********************************/
/**********************************************************************************************/

/**********************************************************************************************/
/************************************ NEWSLETTER #FFB ******************************************/
/**********************************************************************************************/

.section--8 {
  background-color: var(--color-white);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: var(--section-padding) 0;
  z-index: 1;
}

.section--8__newsletter {
  max-width: 58rem;
  background-color: var(--color-primary--1);
  background-image: linear-gradient(to bottom right, #9771712a, #77d1d170);
  border-radius: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}

.newsletter__left {
  padding: 0 3rem;
}

.newsletter__header {
  margin-bottom: 1rem;
  color: var(--color-white);
  font-size: 2.7rem;
  font-weight: 400;
}

.newsletter__texts {
  color: var(--color-secondary);
  margin-bottom: 1rem;
  max-width: 80%;
  /* font-size: 1.5rem; */
}

.newsletter__form {
  padding: 6rem 0rem;
  background-color: var(--color-secondary);
  background-image: linear-gradient(to bottom right);
  color: var(--color-secondary);
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60rem;
  position: relative;
}

.newsletter__form__object {
  position: absolute;
  left: -1.8rem;
  height: 100%;
  background-color: var(--color-white);
  width: 6rem;
  border-radius: 1rem;
  z-index: -1;
}

.newsletter__duo {
  width: 80%;
  border-radius: 0.5rem;
  height: 3.4rem;
  display: flex;
  /* font-size: 1.5rem; */
  align-items: center;
  padding: 1.5rem;
  justify-content: center;
}

.newsletter__input {
  border: none;
  outline: none;
  width: 80%;
  border-radius: 0.5rem;
  margin-bottom: 1.3rem;
  background-color: var(--color-white);
  font-family: "Montserrat", sans-serif;
}

.newsletter__input:focus {
  border: 0.1rem solid var(--color-primary--1);
}

.newsletter__input__btn {
  text-decoration: none;
  background: var(--color-primary--1);
  color: var(--color-white);
  font-weight: 600;
  transition: all 0.5s ease;
}

.newsletter__input__btn:hover {
  background-color: rgba(255, 255, 255, 0.849);
  color: #000000a1;
}

/* #889954 small at 600 #889954 */
@media screen and (max-width: 37.5em) {
  .section--8__newsletter {
    padding: 0;
    flex-direction: column;
    width: 30rem;
  }
  .newsletter__left {
    padding: 0 0 0 3rem;
  }
  .newsletter__header {
    padding-top: 2rem;
  }
  .newsletter__texts {
    padding-bottom: 3rem;
    max-width: 90%;
  }
  .newsletter__form {
    width: 30rem;
  }
  .newsletter__form__object {
    top: -1.8rem;
    left: 0;
    height: 6rem;
    width: 100%;
  }
}

/**********************************************************************************************/
/****************************************** NEWSLETTER END ***********************************/
/**********************************************************************************************/

/**********************************************************************************************/
/************************************ FOOTER #FFB ******************************************/
/**********************************************************************************************/

.footer {
  background-color: var(--color-primary--2);
}

.footer__container {
  max-width: var(--big-container-width);
  padding: 13rem 4rem 0;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__top {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  row-gap: 0rem;
  column-gap: 1rem;
  width: 100%;
  justify-content: center;
}

.footer__top__section {
  display: inline-block;
  margin-bottom: 13rem;
}

.footer__top__section--1__logo {
  margin-bottom: 3rem;
  color: var(--color-white);
}

.footer__top__section--1__text {
  color: var(--color-secondary);
}

.footer__top__section--1__media-display {
  margin-top: 2rem;
}

.footer__top__section--1 {
  grid-column: 1 / span 2;
}

.media-display__list {
  border-radius: 50%;
  margin-left: -1rem;
}

.media-display__iconlinks {
}

.footer__top__section {
}

.footer__top__section:not(:first-of-type) {
  justify-self: center;
}

.footer__top__section__header {
  /* font-size: 1.5rem; */
  color: var(--color-white);
  margin-bottom: 3rem;
}

.footer__top__section__list {
  list-style: none;
  line-height: 3rem;
}

.footer__top__section__links {
  color: var(--color-secondary);
  text-decoration: none;
  /* font-size: 1.1rem; */
}

.copyright {
  width: 100%;
  color: var(--color-white);
  text-align: center;
  padding: 3rem;
}

/**********************************************************************************************/
/****************************************** FOOTER END ***********************************/
/**********************************************************************************************/
